doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 Lorem Ipsum
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque ut iste dolores cumque voluptatem odit molestiae aut et aliquid, iure reiciendis, facilis neque tempora odio repellendus mollitia harum, nihil numquam.